<?php
$config=array();
$config['server']="localhost";
$config['port']="3306";
$config['user']="xxxxx";
$config['password']="xxxxxxx";
$config['game_database']="xxxxx";
$config['game_url']="https://xxxxx/game";
$config['site_url']="https://xxxxxx";
$config['game_path']="/var/www/xxxxx/UI/game/";
$config['scheduler_path']="/var/www/xxxxx/Scheduler/";
$config['galaxy']=0;
$config['uploaddir'] = '/var/www/xxxxx/UI/game/gallery/';
$config['forum_path'] = '/var/www/xxxxx';
$config['forum_show'] = '0';
$config['forum_url'] = 'https://xxxxxx';
$config['admin_email'] = 'xxxxxxxxxxxx';

define ('ERROR_LOG_FILE', '/var/www/xxxx/UI/game/logs/error_log.htm');
define ('ADMIN_LOG_FILE', '/var/www/xxxxx/UI/game/logs/admin_log.htm');
define('DEFAULT_GFX_PATH', '/stgw_gfx/');
define('PROXY_GFX_PATH', '/stgw_gfx/');
define('JSCRIPT_PATH', '/game/');
?>
